.video_ParentDiv {
    width:100%;
    min-height: 100vh;
    background-color:#ffffff;
    position:absolute;
    
  }
  ::-webkit-scrollbar{
    display: none;
  }
  .video_banner{
    margin-top: 170px;
    text-align: left;
    border-width: 100px;
    border-color: red;
  }
  .h1{
    margin-left: 35px
  }
  .video_boxes{
 
    min-height: 35rem;
    margin: 30px;   
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .vid_box_1{
   
    background-color:#bba190;
    margin-top: 30px;
    width: 90%;
    height: 15rem;
    border-radius: 10px;
    display: flex;
   
  }
  .vid_img{
    width:30%;
  }
 .vid_desc{
    width: 70%;

    line-height: 35px;
    border-radius: 10px;
    border-color:black  ;
    border-left: 90px;
 }
 .vid_desc p{
  margin-left: 60px;

 }
 .video_title{
    font-size: 30px;
  }
  .channel_title{
    font-size: 21px;
  }
  .sizing_image{
    width:100%;
    height:100%;
  }