.hospital_ParentDiv {
    width:100%;
    min-height: 100vh;
    background-color:white;
    position:absolute;
    
  }
  .hospital_banner{
    margin-top: 170px;
    text-align: left;
  }
  .h1{
    margin-left: 35px
  }
  
  .location{
    display: flex;
    align-items: center;
    width:390px;
    height: 50px;
    background-color: #bba190;
    margin-left: 150px;
    margin-top: 30px;
    border-radius: 8px;
    
  }
  .location_icon{
    margin-left: 12px;
    margin-top: 0.7px;
  }
  .location_detail{
    margin-left: 25px;
    width: 240px;
    height:20px
  }
  .main_hos_box{
    width:94%;
    min-height: 30rem;
    margin-left: 40px;
    margin-top: 60px;
  
   
  }
 
  .subhos_box_1,.subhos_box_2{
    width:94%;
    height: 18rem;
    display: flex;
    flex-direction:row;
  
  }
  .lefthos_1_box,.righthos_1_box{
    width:40%;
    height:15rem;
    display: flex;
    flex-direction:column;
    background-color: #bba190 ;
    margin-left: 75px;
    margin-top: 30px;
    border-radius: 10px;
  }
  .pha_icon{
    margin-left: 10px;
    margin-top: 12px;
  }
  .name_icon{
    display: flex;
    flex-direction:row;
  }
  .address_phone{
    margin-top: 2px;
    margin-left: 35px;
    padding:10px;
    line-height: 2em;
  }
  .hos_details,.hos_name{
    margin-left: 10px;
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
  }
  .hos_details{
    display: block;
  }
 .pho_icon{
    float:left;
    margin-left: 13px;
 }
 .search{
  border: transparent;
  margin-right: -100px;
  background-color: transparent;
  color: black;
  font-size: large;
  font-weight: bold;
  
 }