.ForgotPassword {
    display:flex;
    flex-direction: row;
  }
  
  
  
  .section1 {
    position: absolute;
    width: 34rem;
    height: 682px;
    left: 0px;
    top: 0px;
    display: flex;
    background:#DEB298;
    opacity: 1.7;
    justify-content: center;
    align-items: center;
    line-height: 33px;

    
  }
  .head_text{
    
    font-size: 30px;
  }
  ::-webkit-scrollbar{
    display: none;
  }
  .section2 {
    position: absolute;
width: 780px;
height: 680px;
left: 500px;
top: 0px;

background:white   ;
border-radius: 40px 0px 0px 40px;

display: flex;
  justify-content: center;
  align-items: center;
 
  }

  .section2 h2 {
     position: fixed;
    font-size: 30px;
    font-weight:normal;
    margin-bottom: 45px;
    margin-left:-175px;
    margin-top:-439px;
  }

  .section2 .form-container {
    padding: 26px;
    font-size:26px;
    margin-left:-69px;
    margin-top:119px;
    

  }
  
  .section2 .form-group {
    margin-bottom: 31px;
  }
  
  .section2  label {
    display: block;
    margin-bottom: 6px;
  }
  
  .section2 .form-group input[type="text"],
  .form-group input[type="password"] {
    width: 100%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .section2 .form-group  button {
    padding: 11px 50px;
    background-color: #DEB298;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top:10px;
  }
  
  .section2 .register-link {
    margin-top: 10px;
  }
  .login_btn{
    width: 6rem;
    color: blue;
    border: none;
    background-color: transparent;
    font-size: 20px;
  }
  
  